{%  extends 'bootstarp/main.html' %}
{% block pos_list %}

    <div class="agile-grids"  >
    <div class="agile-tables" >
       <div class="w3l-table-info" >
            <h3>职位列表</h3>

       <hr>
                <label style="color: #8BC34A">当前用户 : {{ obj_auto.first }} </label>
       <br>
                <label style="color: #8BC34A">职责岗位 : {{ obj_auto.first.pos }}</label>

       <hr>
            {% if '/position/update/(\d+)/' in request.permission_code_list %}
            <a href="/position/add/"> <button type="button" class="btn btn-success">添加岗位用户</button> </a>
            {% endif %}
          <table id="table">
          <thead>
             <tr>
                 <th>ID</th>
                 <th>职责岗位</th>
                 <th>对应用户</th>
                {% if '/position/delete/(\d+)/' in request.permission_code_list %}
                 <th>编辑</th>
                {% endif %}
                 {% if '/position/delete/(\d+)/' in request.permission_code_list %}
                    <th>删除</th>
                  {% endif %}
             </tr>
          </thead>
          <tbody>

                {% for x in user_all %}
                     <tr>
                <td>{{ x.id }}</td>
                <td>{{ x.pos }}</td>
                <td>{{ x }}</td>

                 {% if '/position/delete/(\d+)/' in request.permission_code_list %}
                 <td><a href="/position/update/{{ x.id }}"> <button type="button" class="btn btn-warning " >编辑</button> </a></td>
                 {% endif %}
                     {% if '/position/delete/(\d+)/' in request.permission_code_list %}
                     <td><a href="javascript:if(confirm('确实要删除吗?'))location='/position/delete/{{x.id}}/'"><button type="button" class="btn btn-danger " data-toggle="modal" data-target="#deleteModal" >删除</button></a></td>
                    {% endif %}
                     </tr>
                {% endfor %}

          </tbody>

          </table>
       </div>
    </div>
    </div>


{% endblock %}