<!DOCTYPE HTML>
<html>
<head>
<title>Input</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Bootstrap Core CSS -->
<link href="css/bootstrap.min.css" rel='stylesheet' type='text/css' />
<!-- Custom CSS -->
<link href="css/style.css" rel='stylesheet' type='text/css' />
<link rel="stylesheet" href="css/morris.css" type="text/css"/>
<!-- Graph CSS -->
<link href="css/font-awesome.css" rel="stylesheet"> 
<!-- jQuery -->
<script src="js/jquery-2.1.4.min.js"></script>
<!-- //jQuery -->
<link href='http://fonts.googleapis.com/css?family=Roboto:700,500,300,100italic,100,400' rel='stylesheet' type='text/css'/>
<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<!-- lined-icons -->
<link rel="stylesheet" href="css/icon-font.min.css" type='text/css' />
<!-- //lined-icons -->
</head> 
<body>
   <div class="page-container">
   <!--/content-inner-->
<div class="left-content">
	   <div class="mother-grid-inner">
              <!--header start here-->
				<div class="header-main">
					<div class="logo-w3-agile">
								<h1><a href="index.html">Pooled</a></h1>
							</div>
					<div class="w3layouts-left">
							
							<!--search-box-->
								<div class="w3-search-box">
									<form action="#" method="post">
										<input type="text" placeholder="Search..." required="">	
										<input type="submit" value="">					
									</form>
								</div><!--//end-search-box-->
							<div class="clearfix"> </div>
						 </div>
						 <div class="w3layouts-right">
							<div class="profile_details_left"><!--notifications of menu start -->
								<ul class="nofitications-dropdown">
									<li class="dropdown head-dpdn">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-envelope"></i><span class="badge">3</span></a>
										<ul class="dropdown-menu">
											<li>
												<div class="notification_header">
													<h3>You have 3 new messages</h3>
												</div>
											</li>
											<li><a href="#">
											   <div class="user_img"><img src="images/in11.jpg" alt=""></div>
											   <div class="notification_desc">
												<p>Lorem ipsum dolor</p>
												<p><span>1 hour ago</span></p>
												</div>
											   <div class="clearfix"></div>	
											</a></li>
											<li class="odd"><a href="#">
												<div class="user_img"><img src="images/in10.jpg" alt=""></div>
											   <div class="notification_desc">
												<p>Lorem ipsum dolor </p>
												<p><span>1 hour ago</span></p>
												</div>
											  <div class="clearfix"></div>	
											</a></li>
											<li><a href="#">
											   <div class="user_img"><img src="images/in9.jpg" alt=""></div>
											   <div class="notification_desc">
												<p>Lorem ipsum dolor</p>
												<p><span>1 hour ago</span></p>
												</div>
											   <div class="clearfix"></div>	
											</a></li>
											<li>
												<div class="notification_bottom">
													<a href="#">See all messages</a>
												</div> 
											</li>
										</ul>
									</li>
									<li class="dropdown head-dpdn">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-bell"></i><span class="badge blue">3</span></a>
										<ul class="dropdown-menu">
											<li>
												<div class="notification_header">
													<h3>You have 3 new notification</h3>
												</div>
											</li>
											<li><a href="#">
												<div class="user_img"><img src="images/in8.jpg" alt=""></div>
											   <div class="notification_desc">
												<p>Lorem ipsum dolor</p>
												<p><span>1 hour ago</span></p>
												</div>
											  <div class="clearfix"></div>	
											 </a></li>
											 <li class="odd"><a href="#">
												<div class="user_img"><img src="images/in6.jpg" alt=""></div>
											   <div class="notification_desc">
												<p>Lorem ipsum dolor</p>
												<p><span>1 hour ago</span></p>
												</div>
											   <div class="clearfix"></div>	
											 </a></li>
											 <li><a href="#">
												<div class="user_img"><img src="images/in7.jpg" alt=""></div>
											   <div class="notification_desc">
												<p>Lorem ipsum dolor</p>
												<p><span>1 hour ago</span></p>
												</div>
											   <div class="clearfix"></div>	
											 </a></li>
											 <li>
												<div class="notification_bottom">
													<a href="#">See all notifications</a>
												</div> 
											</li>
										</ul>
									</li>	
									<li class="dropdown head-dpdn">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-tasks"></i><span class="badge blue1">9</span></a>
										<ul class="dropdown-menu">
											<li>
												<div class="notification_header">
													<h3>You have 8 pending task</h3>
												</div>
											</li>
											<li><a href="#">
												<div class="task-info">
													<span class="task-desc">Database update</span><span class="percentage">40%</span>
													<div class="clearfix"></div>	
												</div>
												<div class="progress progress-striped active">
													<div class="bar yellow" style="width:40%;"></div>
												</div>
											</a></li>
											<li><a href="#">
												<div class="task-info">
													<span class="task-desc">Dashboard done</span><span class="percentage">90%</span>
												   <div class="clearfix"></div>	
												</div>
												<div class="progress progress-striped active">
													 <div class="bar green" style="width:90%;"></div>
												</div>
											</a></li>
											<li><a href="#">
												<div class="task-info">
													<span class="task-desc">Mobile App</span><span class="percentage">33%</span>
													<div class="clearfix"></div>	
												</div>
											   <div class="progress progress-striped active">
													 <div class="bar red" style="width: 33%;"></div>
												</div>
											</a></li>
											<li><a href="#">
												<div class="task-info">
													<span class="task-desc">Issues fixed</span><span class="percentage">80%</span>
												   <div class="clearfix"></div>	
												</div>
												<div class="progress progress-striped active">
													 <div class="bar  blue" style="width: 80%;"></div>
												</div>
											</a></li>
											<li>
												<div class="notification_bottom">
													<a href="#">See all pending tasks</a>
												</div> 
											</li>
										</ul>
									</li>	
									<div class="clearfix"> </div>
								</ul>
								<div class="clearfix"> </div>
							</div>
							<!--notification menu end -->
							
							<div class="clearfix"> </div>				
						</div>
						<div class="profile_details w3l">		
								<ul>
									<li class="dropdown profile_details_drop">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
											<div class="profile_img">	
												<span class="prfil-img"><img src="images/in4.jpg" alt=""> </span> 
												<div class="user-name">
													<p>Malorum</p>
													<span>Administrator</span>
												</div>
												<i class="fa fa-angle-down"></i>
												<i class="fa fa-angle-up"></i>
												<div class="clearfix"></div>	
											</div>	
										</a>
										<ul class="dropdown-menu drp-mnu">
											<li> <a href="#"><i class="fa fa-cog"></i> Settings</a> </li> 
											<li> <a href="#"><i class="fa fa-user"></i> Profile</a> </li> 
											<li> <a href="#"><i class="fa fa-sign-out"></i> Logout</a> </li>
										</ul>
									</li>
								</ul>
							</div>
							
				     <div class="clearfix"> </div>	
				</div>
<!--heder end here-->
<br>

{#   <!--<p id='hsotname'>主机名: {{form.hostname}} {{form.errors.hostname.0}}</p>-->#}
{#    <p id='ecsname'>实例名: {{form.ecsname}} {{form.errors.ecsname.0}}</p>#}
{#    <p id='login_port'>登录端口: {{form.login_port}} {{form.errors.login_port.0}}</p>#}
{#    <p id='cpu'>CPU: {{form.cpu}} {{form.errors.cpu.0}}</p>#}
{#    <p id='mem'>内存/G: {{form.mem}} {{form.errors.mem.0}}</p>#}
{#    <p id='speed'>带宽/M: {{form.speed}} {{form.errors.speed.0}}</p>#}
{#    <p id='eth1_network'>公网IP: {{form.eth1_network}} {{form.errors.eth1_network.0}}</p>#}
{#    <p id='eth0_network'>内网IP: {{form.eth0_network}} {{form.errors.eth0_network.0}}</p>#}
{#    <p id='sn'>SN: {{form.sn}} {{form.errors.sn.0}}</p>#}
{#    <p id='kernel'>内核: {{form.kernel}} {{form.errors.kernel.0}}</p>#}
{#    <p id='remarks'>备注: {{form.remarks}} {{form.errors.remarks.0}}</p>#}
{#    <p id='createtime'>创建时间: {{form.createtime}} {{form.errors.createtime.0}}</p>#}
{#    <p id='expirytime'>到期时间: {{form.expirytime}} {{form.errors.expirytime.0}}</p>#}
{#    <p id='state'>主机状态: {{form.state}} {{form.errors.state.0}} {{ message }}</p>#}

  <div class="grid-form1">
  	       <h3>添加主机数据</h3>
  	         <div class="tab-content">
						<div class="tab-pane active" id="horizontal-form">
							<form class="form-horizontal">
								{% csrf_token %}
								<div class="form-group">
									<label for="focusedinput" class="col-sm-2 control-label">主机名</label>
									<div class="col-sm-8">
										<input type="text" class="form-control1" id="hsotname" placeholder="{{form.hostname}}">
									</div>
									<div class="col-sm-2">
										<p class="help-block">{{form.errors.hostname.0}}</p>
									</div>
								</div>
								<div class="form-group">
									<label for="focusedinput" class="col-sm-2 control-label">实例名</label>
									<div class="col-sm-8">
										<input type="text" class="form-control1" id="ecsname" placeholder="{{form.login_port}}">
									</div>
									<div class="col-sm-2">
										<p class="help-block">{{form.errors.ecsname.0}}</p>
									</div>
								</div>
								<div class="form-group">
									<label for="focusedinput" class="col-sm-2 control-label"> 登录端口 </label>
									<div class="col-sm-8">
										<input type="text" class="form-control1" id="login_port" placeholder="{{form.login_port}}">
									</div>
									<div class="col-sm-2">
										<p class="help-block">{{form.errors.login_port.0}}</p>
									</div>
								</div>
								<div class="form-group">
									<label for="focusedinput" class="col-sm-2 control-label"> CPU </label>
									<div class="col-sm-8">
										<input type="text" class="cpu" id="" placeholder="{{form.cpu}}">
									</div>
									<div class="col-sm-2">
										<p class="help-block">{{form.errors.cpu.0}}</p>
									</div>
								</div>
								<div class="form-group">
									<label for="focusedinput" class="col-sm-2 control-label"> 内存/G </label>
									<div class="col-sm-8">
										<input type="text" class="mem" id="" placeholder="{{form.mem}}">
									</div>
									<div class="col-sm-2">
										<p class="help-block">{{form.errors.mem.0}}</p>
									</div>
								</div>
								<div class="form-group">
									<label for="focusedinput" class="col-sm-2 control-label"> 带宽/M </label>
									<div class="col-sm-8">
										<input type="text" class="form-control1" id="speed" placeholder=" {{form.speed}}">
									</div>
									<div class="col-sm-2">
										<p class="help-block">{{form.errors.speed.0}}</p>
									</div>
								</div>
								<div class="form-group">
									<label for="focusedinput" class="col-sm-2 control-label"> 公网IP </label>
									<div class="col-sm-8">
										<input type="text" class="form-control1" id="eth1_network" placeholder="{{form.eth1_network}}">
									</div>
									<div class="col-sm-2">
										<p class="help-block">{{form.errors.eth1_network.0}}</p>
									</div>
								</div>
								<div class="form-group">
									<label for="focusedinput" class="col-sm-2 control-label"> 私网IP </label>
									<div class="col-sm-8">
										<input type="text" class="form-control1" id="eth0_network" placeholder="{{form.eth1_network}}">
									</div>
									<div class="col-sm-2">
										<p class="help-block">{{form.errors.eth0_network.0}}</p>
									</div>
								</div>
								<div class="form-group">
									<label for="focusedinput" class="col-sm-2 control-label"> SN </label>
									<div class="col-sm-8">
										<input type="text" class="form-control1" id="sn" placeholder="{{form.sn}}">
									</div>
									<div class="col-sm-2">
										<p class="help-block">{{form.errors.sn.0}}</p>
									</div>
								</div>
								<div class="form-group">
									<label for="focusedinput" class="col-sm-2 control-label"> 内核 </label>
									<div class="col-sm-8">
										<input type="text" class="form-control1" id="kernel" placeholder="{{form.kernel}}">
									</div>
									<div class="col-sm-2">
										<p class="help-block">{{form.errors.kernel.0}}</p>
									</div>
								</div>
								<div class="form-group">
									<label for="focusedinput" class="col-sm-2 control-label"> 备注 </label>
									<div class="col-sm-8">
										<input type="text" class="form-control1" id="remarks" placeholder="{{form.remarks}}">
									</div>
									<div class="col-sm-2">
										<p class="help-block">{{form.errors.remarks.0}}</p>
									</div>
								</div>
								<div class="form-group">
									<label for="focusedinput" class="col-sm-2 control-label"> 创建时间 </label>
									<div class="col-sm-8">
										<input type="text" class="form-control1" id="createtime" placeholder="{{form.createtime}}">
									</div>
									<div class="col-sm-2">
										<p class="help-block">{{form.errors.createtime.0}}</p>
									</div>
								</div>
								<div class="form-group">
									<label for="focusedinput" class="col-sm-2 control-label"> 到期时间 </label>
									<div class="col-sm-8">
										<input type="text" class="form-control1" id="expirytime" placeholder=" {{form.expirytime}}">
									</div>
									<div class="col-sm-2">
										<p class="help-block">{{form.errors.expirytime.0}}</p>
									</div>
								</div>
                                <div class="form-group">
									<label for="focusedinput" class="col-sm-2 control-label"> 主机状态 </label>
									<div class="col-sm-8">
										<input type="text" class="form-control1" id="state" placeholder=" {{form.state}}">
									</div>
									<div class="col-sm-2">
										<p class="help-block">{{form.errors.state.0}} {{ message }}</p>
									</div>
								</div>



								<!--<div class="form-group">      # 禁止输入-->
									<!--<label for="disabledinput" class="col-sm-2 control-label">Disabled Input</label>-->
									<!--<div class="col-sm-8">-->
										<!--<input disabled="" type="text" class="form-control1" id="disabledinput" placeholder="Disabled Input">-->
									<!--</div>-->
								<!--</div>-->
								<!--<div class="form-group">    # Password 密码框-->
									<!--<label for="inputPassword" class="col-sm-2 control-label">Password</label>-->
									<!--<div class="col-sm-8">-->
										<!--<input type="password" class="form-control1" id="inputPassword" placeholder="Password">-->
									<!--</div>-->
								<!--</div>-->
								<!--<div class="form-group">       # 单选框  -->
									<!--<label for="checkbox" class="col-sm-2 control-label">Checkbox</label>-->
									<!--<div class="col-sm-8">-->
										<!--<div class="checkbox-inline1"><label><input type="checkbox"> Unchecked</label></div>-->
										<!--<div class="checkbox-inline1"><label><input type="checkbox" checked=""> Checked</label></div>-->
										<!--<div class="checkbox-inline1"><label><input type="checkbox" disabled=""> Disabled Unchecked</label></div>-->
										<!--<div class="checkbox-inline1"><label><input type="checkbox" disabled="" checked=""> Disabled Checked</label></div>-->
									<!--</div>-->
								<!--</div>-->
{#                                    <p id='lab'>标签: {{form.lab_id}} {{form.errors.lab_id.0}}</p>#}
{#                                    <p id='os'>操作系统: {{form.os_id}} {{form.errors.os_id.0}}</p>#}
{#                                    <p id='source'>来源类型: {{form.source_id}} {{form.errors.source_id.0}}</p>#}
{#                                    <p id='region'>所属区域: {{form.region_id}} {{form.errors.region_id.0}}</p>#}

                                <div class="form-group">
									<label for="focusedinput" class="col-sm-2 control-label"> 标签 </label>
									<div class="col-sm-8">
										<input type="text" class="form-control1" id="lab" placeholder="{{form.lab_id}}">
									</div>
									<div class="col-sm-2">
										<p class="help-block">{{form.errors.lab_id.0}}</p>
									</div>
								</div>
                                <div class="form-group">
									<label for="focusedinput" class="col-sm-2 control-label"> 操作系统 </label>
									<div class="col-sm-8">
										<input type="text" class="form-control1" id="os" placeholder="{{form.os_id}}">
									</div>
									<div class="col-sm-2">
										<p class="help-block">{{form.errors.os_id.0}}</p>
									</div>
								</div>
                                <div class="form-group">
									<label for="focusedinput" class="col-sm-2 control-label"> 来源类型 </label>
									<div class="col-sm-8">
										<input type="text" class="form-control1" id="source" placeholder="{{form.source_id}}">
									</div>
									<div class="col-sm-2">
										<p class="help-block">{{form.errors.source_id.0}}</p>
									</div>
								</div>
                                <div class="form-group">
									<label for="focusedinput" class="col-sm-2 control-label"> 所属区域 </label>
									<div class="col-sm-8">
										<input type="text" class="form-control1" id="region" placeholder="{{form.region_id}}">
									</div>
									<div class="col-sm-2">
										<p class="help-block">{{form.errors.region_id.0}}</p>
									</div>
								</div>

{#								<div class="form-group">         单选下拉框#}
{#									<label for="selector1" class="col-sm-2 control-label">标签</label>#}
{#									<div class="col-sm-8"><select name="selector1" id="selector1" class="form-control1">#}
{#										<option>Lorem ipsum dolor sit amet.</option>#}
{#										<option>Dolore, ab unde modi est!</option>#}
{#										<option>Illum, fuga minus sit eaque.</option>#}
{#										<option>Consequatur ducimus maiores voluptatum minima.</option>#}
{#									</select></div>#}
{#								</div>#}

								<!--<div class="form-group">     # 多选框-->
									<!--<label class="col-sm-2 control-label">Multiple Select</label>-->
									<!--<div class="col-sm-8">-->
										<!--<select multiple="" class="form-control1">-->
											<!--<option>Option 1</option>-->
											<!--<option>Option 2</option>-->
											<!--<option>Option 3</option>-->
											<!--<option>Option 4</option>-->
											<!--<option>Option 5</option>-->
										<!--</select>-->
									<!--</div>-->
								<!--</div>-->
							</form>
						</div>
			 </div>
  </div>


<!-- script-for sticky-nav -->
		<script>
		$(document).ready(function() {
			 var navoffeset=$(".header-main").offset().top;
			 $(window).scroll(function(){
				var scrollpos=$(window).scrollTop(); 
				if(scrollpos >=navoffeset){
					$(".header-main").addClass("fixed");
				}else{
					$(".header-main").removeClass("fixed");
				}
			 });
			 
		});
		</script>
		<!-- /script-for sticky-nav -->
<!--inner block start here-->
<div class="inner-block">

</div>
<!--inner block end here-->
<!--copy rights start here-->
<div class="copyrights">
	 <p>Copyright &copy; 2016.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
</div>	
<!--COPY rights end here-->
</div>
</div>
  <!--//content-inner-->
		<!--/sidebar-menu-->
				<div class="sidebar-menu">
					<header class="logo1">
						<a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a> 
					</header>
						<div style="border-top:1px ridge rgba(255, 255, 255, 0.15)"></div>
                           <div class="menu">
									<ul id="menu" >
										<li><a href="index.html"><i class="fa fa-tachometer"></i> <span>Dashboard</span><div class="clearfix"></div></a></li>
										
										
										 <li id="menu-academico" ><a href="inbox.html"><i class="fa fa-envelope nav_icon"></i><span>Inbox</span><div class="clearfix"></div></a></li>
									<li><a href="gallery.html"><i class="fa fa-picture-o" aria-hidden="true"></i><span>Gallery</span><div class="clearfix"></div></a></li>
									<li id="menu-academico" ><a href="charts.html"><i class="fa fa-bar-chart"></i><span>Charts</span><div class="clearfix"></div></a></li>
									 <li id="menu-academico" ><a href="#"><i class="fa fa-list-ul" aria-hidden="true"></i><span> Short Codes</span> <span class="fa fa-angle-right" style="float: right"></span><div class="clearfix"></div></a>
										   <ul id="menu-academico-sub" >
										   <li id="menu-academico-avaliacoes" ><a href="icons.html">Icons</a></li>
											<li id="menu-academico-avaliacoes" ><a href="typography.html">Typography</a></li>
											<li id="menu-academico-avaliacoes" ><a href="faq.html">Faq</a></li>
										  </ul>
										</li>
									<li id="menu-academico" ><a href="errorpage.html"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i><span>Error Page</span><div class="clearfix"></div></a></li>
									  <li id="menu-academico" ><a href="#"><i class="fa fa-cogs" aria-hidden="true"></i><span> UI Components</span> <span class="fa fa-angle-right" style="float: right"></span><div class="clearfix"></div></a>
										   <ul id="menu-academico-sub" >
										   <li id="menu-academico-avaliacoes" ><a href="button.html">Buttons</a></li>
											<li id="menu-academico-avaliacoes" ><a href="grid.html">Grids</a></li>
										  </ul>
										</li>
									 <li><a href="tabels.html"><i class="fa fa-table"></i>  <span>Tables</span><div class="clearfix"></div></a></li>
									<li><a href="maps.html"><i class="fa fa-map-marker" aria-hidden="true"></i>  <span>Maps</span><div class="clearfix"></div></a></li>
							        <li id="menu-academico" ><a href="#"><i class="fa fa-file-text-o"></i>  <span>Pages</span> <span class="fa fa-angle-right" style="float: right"></span><div class="clearfix"></div></a>
										 <ul id="menu-academico-sub" >
											<li id="menu-academico-boletim" ><a href="calendar.html">Calendar</a></li>
											<li id="menu-academico-avaliacoes" ><a href="signin.html">Sign In</a></li>
											<li id="menu-academico-avaliacoes" ><a href="signup.html">Sign Up</a></li>
											

										  </ul>
									 </li>
									<li><a href="#"><i class="fa fa-check-square-o nav_icon"></i><span>Forms</span> <span class="fa fa-angle-right" style="float: right"></span><div class="clearfix"></div></a>
									  <ul>
										<li><a href="input.html"> Input</a></li>
										<li><a href="validation.html">Validation</a></li>
									</ul>
									</li>
								  </ul>
								</div>
							  </div>
							  <div class="clearfix"></div>		
							</div>
							<script>
							var toggle = true;
										
							$(".sidebar-icon").click(function() {                
							  if (toggle)
							  {
								$(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
								$("#menu span").css({"position":"absolute"});
							  }
							  else
							  {
								$(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
								setTimeout(function() {
								  $("#menu span").css({"position":"relative"});
								}, 400);
							  }
											
											toggle = !toggle;
										});
							</script>
<!--js -->
<script src="js/jquery.nicescroll.js"></script>
<script src="js/scripts.js"></script>
<!-- Bootstrap Core JavaScript -->
   <script src="js/bootstrap.min.js"></script>
   <!-- /Bootstrap Core JavaScript -->	   

</body>
</html>