{% extends 'bootstarp/login.html' %}
{% block auto_form %}
		<form method='POST' novalidate>
            {% csrf_token %}
            <div class="user-name ">用户名:</div>

			<li>

				<input type="text" name="username" class="text" value="Username" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Username';}"><a href="#" class=" icon user"></a>
			</li>
{#				<div class="clear"> </div>#}
            <div class="user-name ">密码:</div>
			<li>

				<input type="password" name="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}"> <a href="#" class="icon lock"></a>
			</li>

            </li>
            <div class="user-name "> 验证码:</div>
            <li>
                <input type="text" class="form-control" name="code">
            </li>
            <li>
                <img src="/code.html" onclick="CodeImg(this);" style="width: 205px;height: 50px;">
            </li>
             <li class="disabled">
				<span aria-hidden="true">{{ error }}</span>
			</li>
            <div class="submit">
				<input type="submit"  value="登录" >
				<h4><a href="#">Lost your Password ?</a></h4>
				<div class="clear">  </div>
			</div>
		</form>
    <script>
        function CodeImg(ths) {
        ths.src = ths.src + "?";
        }
    </script>
{% endblock %}